<%- include('partials/header') -%>

<!DOCTYPE html>
<html>
<head>


</head>
<body>




<div class="card">
  <iframe width="560" height="315"
  src="https://www.youtube.com/embed/t9YDbqLfg7E?&autoplay=1"></iframe></h1>
</div>

  
    <div class="card">
      <h3 style="color: red;">PRODUCTS</h3>
      <div class="fakeimg"><p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAROv0WNZMq-Vplfa1kg5H1X0KgPWimUYtRQ&usqp=CAU" width ="auto"></p></div>
   
      <div class="fakeimg"><p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYyMvUWaJ26Cy1IUMXaDwNJlDULjZ_CLhW_w&usqp=CAU" width ="auto"></p></div>
      <div class="fakeimg"><p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRUTou9VVEV5VNPDEgORcA0mPOetE5VnUBq_A&usqp=CAU" width ="auto"></p></div>
    </div>
    <div class="card">
      <h3>Memory store</h3>
      <p>HỒ CHÍ MINH</p>
     <p> Hồ Chí Minh.</p> 
    </div>
  </div>
</div>

  





<%- include('partials/footer') -%>